@model Web.Models.AppUserVM;

@{
    ViewData["Title"] = "Kullanıcı Kayıt";
    Layout = "_Layout";
}


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Kullanıcı Kayıt Ekranı</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-controller="appuser" asp-action="add" method="post">
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Kullanıcı Adı</label>
                <input asp-for="@Model.UserName" type="text" class="form-control" id="exampleInputEmail1"
                    placeholder="Kullanıcı Adı">
            </div>
            <div class="form-group">
                <label>Rol</label>
                <select name="" id="">
                    <option selected value="0">---Rol Seçin---</option>
                    @foreach (var item in Model.roles)
                    {
                        <option value="@item.RolID">@item.RolName</option>
                    }
                </select>


            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Şifre</label>
                <input asp-for="@Model.UserPassword" type="password" class="form-control" id="password"
                    placeholder="Şifre Tekrar">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Şifre Tekrar</label>
                <input asp-for="@Model.UserPasswordConfirm" type="password" class="form-control" id="passwordConfirm"
                    placeholder="Şifre Tekrar">
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button id="save-btn" type="submit" class="btn btn-primary float-right">Kaydet</button>
        </div>
    </form>
</div>
